<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <meta charset="utf-8">
        <title>Sidebar</title>
    </head>
    <body>
      <!-- Sidebar-->
      <div th:fragment="sidebar" class="border-end bg-dark" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-dark">
            <img src="/css/img/allvent-logo.png" width="200" height="100">
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!">Pracownicy</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!">Godziny</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!">Godziny</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!">Events</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!">Profile</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!">Status</a>
        </div>
    </div>
     
    </body>
</html>